.button-test-second {
  margin: 0 auto;
  align-items: center;
  padding: 10px 52px;
  display: block;
  color: var(--background-maintittle-color);
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
}

.backdrop {
  &.is-hidden .modal-buynow {
    transform: translate(0%, -50%);
  }
}

.modal-buynow {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 32px 54px;
  max-width: 568px;
  height: 644px;
  background-color: var(--primary_text-color);
  border: 2px solid #f8d24e;
  border-radius: 10px;
  @include respond-max('phone') {
    padding: 20px 28px;
  }

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__tittle {
    @include font(20, 400, 28);
    text-align: center;
    color: var(--secondary-black-color);
    font-family: 'Seymour One';
    margin-bottom: 33px;
  }
}
.modal-buynow::-webkit-scrollbar {
  width: 1px;
}

.form-group {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  @include respond-max('pc') {
    margin-left: 60px;
    margin-right: 60px;
  }
}
.wrapper {
  position: relative;
}
.modal-input {
  display: block;
  min-width: 352px;
  height: 42px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  padding: 11px 16px;

  @include respond-max('phone') {
    min-width: 240px;
  }

  font-size: 14px;
  color: var(--secondary-black-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:focus {
    border: 2px solid var(--dark-green-bg-color);
    outline: transparent;
  }
}

.form-group-text {
  margin-bottom: 20px;
  justify-content: center;
  @include respond-max('pc') {
    margin-left: 60px;
    margin-right: 60px;
  }
}

.modal-text {
  min-width: 352px;
  height: 120px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  @include respond-max('phone') {
    min-width: 240px;
  }
  padding: 11px 16px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--primary-text-tittle-color);
  resize: none;
  display: block;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 2px solid var(--dark-green-bg-color);
    outline: transparent;
  }
  &::placeholder {
    color: var(--secondary-black-color);
    @include font(14, 400, 20);
  }
}

.buynow-icons {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 48px;

  @include respond-min('phone') {
    &__items:not(:last-child) {
      margin-right: 32px;
    }
  }

  @include respond-max('phone') {
    flex-direction: column;
    align-items: center;
    &__items:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__product {
    margin-left: -22px;
    margin-top: -12px;
  }

  &__text {
    text-transform: uppercase;
    @include font(16, 700, 20);
    text-align: center;
    margin-top: -12px;
  }

  &__items {
    border-radius: 50% 50% 10% 10%;
    height: 186px;
    width: 132px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__items:nth-child(2) {
    border: solid var(--primari-bg-color);
    &:hover {
      background-color: var(--primari-bg-color);
      box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    }
  }

  &__items:nth-child(4) {
    border: solid var(--yellow-bg-color);
    &:hover,
    &:focus {
      background-color: var(--yellow-bg-color);
      box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    }
  }

  &__items:nth-child(6) {
    border: solid var(--pistachio-bg-color);
    &:hover,
    &:focus {
      background-color: var(--pistachio-bg-color);
      box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    }
  }
}

#checkbox-ice-creame:checked + .buynow-icons__items {
  background-color: var(--primari-bg-color);
  box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
}

#checkbox-ice-coffee:checked + .buynow-icons__items {
  background-color: var(--yellow-bg-color);
  box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
}

#checkbox-milkshake:checked + .buynow-icons__items {
  background-color: var(--pistachio-bg-color);
  box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
}
