:root {
  /* основний колір тексту */
  --primary_text-color: #FCFCFC;
  /* вторичний чорний колір*/
  --secondary-black-color: #131313;
  /* колір фону */
  --primari-bg-color: #84A278;
    /* колір фону світлий*/
  --primari-light-bg-color:#84A178;
  /* вторичний білий колір фону */
  --secondary-bg-color: #FCFCFC;
  /* колір фону жовтий*/
  --yellow-bg-color:  #EFD478;
   /* колір фону темно-жовтий*/
  --dark-yellow-bg-color:#F8D24E;
    /* колір фону темно-зелений*/
  --dark-green-bg-color: #0A8817;
     /* колір фону сірий*/
  --gray-bg-color: #ABABAB;
  /* колір фону фісташковий*/
  --pistachio-bg-color:#D6936D;
 
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Seymour One', sans-serif;

  --size-mobile: 480px;
  --size-tablets: 768px;
  --size-pc: 1200px;