<section class="section section-about" id="about">
  <div class="about container">
    <p class="section-about__label">tradition and love</p>
    <h2 class="section-about__title">how it’s made?</h2>
    <div class="section-about__main">
      <div class="section-about__image-content">
        <picture>
          <!-- for desktop -->

          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop/cow_desk.webp    1x,
              ./images/desktop/cow_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop/cow_desk.png    1x,
              ./images/desktop/cow_desk@2x.png 2x
            "
            type="image/jpg"
          />

          <!-- for tablet -->

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/cow_tab.webp    1x,
              ./images/tablet/cow_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/cow_tab.png    1x,
              ./images/tablet/cow_tab@2x.png 2x
            "
            type="image/jpg"
          />

          <!-- for mobile -->

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/mobile/cow_mob.webp    1x,
              ./images/mobile/cow_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/mobile/cow_mob.png    1x,
              ./images/mobile/cow_mob@2x.png 2x
            "
            type="image/png"
          />
          <!-- default device type-->
          <img
            class="section-about__image"
            src="./images/mobile/cow_mob.png"
            alt="cow"
            width="280"
            height="279"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="section-about__body">
        <p class="section-about__text">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
          <br />
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <!-- Кнопка модального окна OPEN-->
        <button class="section-about__button" modal-read-more-open>
          Read more
          <svg class="section-about__icon" width="8" height="10">
            <use href="./images/sprite.svg#icon-icon-arrow"></use>
          </svg>
        </button>
        <!-- Модальное окно -->
      </div>
    </div>
  </div>
</section>
