<!--ADVANTAGES-->
<section class="section section-advantages">
    <div class="container container-advantages">
        <h2 class="title visually-hidden">Advantages</h2>

        <ul class="section-advantages__list list">
            <li class="section-advantages__item item__cow">
                <p class="section-advantages__point">721</p>
                <p class="section-advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="section-advantages__item item__weight">
                <p class="section-advantages__point">16kg</p>
                <p class="section-advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="section-advantages__item item__icecream">
                <p class="section-advantages__point">84</p>
                <p class="section-advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>