<section class="contacts">
  <div class="container">
    <h1 class="is-hidden contakts-name-hidden">Contacts</h1>

    <ul class="contacts-list list">
      <li class="contacts-list_items contacts-position" id="contacts">
        <p class="contacts-list__name">CAFE</p>
        <h3 class="contacts_name">Chicago</h3>
        <address class="contacts_address">
          <a href="https://goo.gl/maps/LasUBz6RPDvnFXxW9" target="_blank" rel="noopener noreferrer nofollow"
            class="contacts_address link">
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA <span><img width="180" height="100" src="./images/map-chicago-contacts.jpg"></span></a>
        </address>
        <div class="contacts_address-dop"></div>
        <ul class="contacts-work_list list">
          <li class="contacts-work_items">Monday - Friday</li>
          <li class="contacts-work_items-time">06:00 AM - 10:00 PM</li>
        </ul>
        <ul class="list"> 
          <li class="contacts-work_items">Saturday - Sunday</li>
          <li class="contacts-work_items-time">08:00 AM - 16:00 PM</li> 
        </ul>
        <div class="contacts_address-dop"></div>  
        <div class="contacts-soc">
          <a href="tel:+610383766284" class="contacts-adres_tel link">+61(0) 383 766 284  
            <svg width="15" height="10" class="contacts-adres_icon-tel">
              <use href="./images/sprite.svg#icon-button-tel"></use>
            </svg>
          </a>
          <a href="mailto:noreply@envato.com" class="contacts-adres_mail link">noreply@envato.com
            <svg width="15" height="10" class="contacts-adres_icon-mail">
              <use href="./images/sprite.svg#icon-button-mail"></use>
            </svg>
          </a>  
        </div>
      </li>

      <li class="contacts-list_items"> 
        <p class="contacts-list__name">FOOD TRUCK</p>
        <h3 class="contacts_name">Los Angeles</h3>
        <address class="contacts_address">
          <a href="https://goo.gl/maps/b2kTh9xBA6NrsdXW8" target="_blank" rel="noopener noreferrer nofollow"
            class="contacts_address link">
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA<span><img width="180" height="100" src="./images/map-manhattan-contacts.jpg"></span></a>
        </address>
        <div class="contacts_address-dop"></div>
        <ul class="contacts-work_list list">
          <li class="contacts-work_items">Monday - Friday</li>
          <li class="contacts-work_items-time">06:00 AM - 10:00 PM</li> 
        </ul>
        <ul class="list">
          <li class="contacts-work_items">Saturday - Sunday</li>
          <li class="contacts-work_items-time">08:00 AM - 16:00 PM</li>
        </ul>
        <div class="contacts_address-dop"></div>
        <div class="contacts-soc">
          <a href="tel:+610383766284" class="contacts-adres_tel link">+61(0) 383 766 284
            <svg width="15" height="10" class="contacts-adres_icon-tel">
              <use href="./images/sprite.svg#icon-button-tel"></use>
            </svg>
          </a>
          <a href="mailto:noreply@envato.com" class="contacts-adres_mail link">noreply@envato.com
            <svg width="15" height="10" class="contacts-adres_icon-mail">
              <use href="./images/sprite.svg#icon-button-mail"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="contacts-list_items">
        <p class="contacts-list__name">CAFE</p>
        <h3 class="contacts_name">New York</h3>
        <address class="contacts_address">
          <a href="https://goo.gl/maps/VnwFCN1KREtjSFxC7" target="_blank" rel="noopener noreferrer nofollow" class="contacts_address link">
          726 Sterling Pl, Brooklyn, NY 11222, USA<span><img width="180" height="100" src="./images/map-brooklyn-contacts.jpg"></span></a>
        </address>
        <div class="contacts_address-dop"></div>
        <ul class="contacts-work_list list"> 
          <li class="contacts-work_items">Monday - Friday</li>
          <li class="contacts-work_items-time">06:00 AM - 10:00 PM</li>
        </ul>
        <ul class="list">
          <li class="contacts-work_items">Saturday - Sunday</li>
          <li class="contacts-work_items-time">08:00 AM - 16:00 PM</li>
        </ul>
        <div class="contacts_address-dop"></div>
        <div class="contacts-soc">
          <a href="tel:+610383766284" class="contacts-adres_tel link">+61(0) 383 766 284
            <svg width="15" height="10" class="contacts-adres_icon-tel">
              <use href="./images/sprite.svg#icon-button-tel"></use>
            </svg>
          </a>
          <a href="mailto:noreply@envato.com" class="contacts-adres_mail link">noreply@envato.com
            <svg width="15" height="10" class="contacts-adres_icon-mail">
              <use href="./images/sprite.svg#icon-button-mail"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>

    <div class="contacts-button">
      <button modal-location-open type="button" class="contacts-button_local">
        <span>Locations</span>
        <svg width="5" height="10" class="contacts_icon">
          <use href="./images/sprite.svg#icon-contacts-button"></use>
        </svg>
      </button>
      <button modal-franchise-open type="button" class="contacts-button_franc">
        <span>Franchise</span>
        <svg width="5" height="10" class="contacts_icon">
          <use href="./images/sprite.svg#icon-contacts-button"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
