<section class="reviews">
  <div class="custom-reviews container">
    <div class="slides">
      <input type="radio" name="slide" id="client1" class="current" checked />
      <input type="radio" name="slide" id="client2" />
      <input type="radio" name="slide" id="client3" />

      <div class="slider s1">
        <img src="/src/images/client1-mob1x.jpg" class="slider__img" alt="" />
        <div class="main-comment">
          <p class="comments__client">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <div class="reviews__city">
          <p>Emily, Los Angeles</p>
        </div>
      </div>
      <div class="slider s2">
        <img src="/src/images/client2-mob1x.jpg" class="slider__img" alt="" />
        <div class="main-comment">
          <p class="comments__client">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
        </div>
        <div class="reviews__city">
          <p>Bryan, New-York</p>
        </div>
      </div>
      <div class="slider s3">
        <img src="/src/images/client3-mob1x.jpg" class="slider__img" alt="" />
        <div class="main-comment">
          <p class="comments__client">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
        </div>
        <div class="reviews__city">
          <p>Diana, Chicago</p>
        </div>
      </div>
    </div>
    <div class="slider__navigation">
      <label for="client1" class="radio-nav current"></label>
      <label for="client2" class="radio-nav"></label>
      <label for="client3" class="radio-nav"></label>
    </div>
  </div>
</section>
