<header class="header" id="home">
  <div class="container">
    <div class="header__menu">
      <div class="header__logo-ice">
        <picture>
          <source srcset="./images/logo-ice/comp-1x.png 1x, ./images/logo-ice/comp-2x.png 2x"
            media="(min-width: 1200px)">
          <source srcset="./images/logo-ice/tab-1x.png 1x, ./images/logo-ice/tab-2x.png 2x" media="(min-width: 768px)">
          <source srcset="./images/logo-ice/mob480-1x.png 1x, ./images/logo-ice/mob480-2x.png 2x"
            media="(min-width: 480px)">
          <source srcset="./images/logo-ice/mob320-1x.png 1x, ./images/logo-ice/mob320-2x.png 2x"
            media="(max-width: 479.33px)">
          <img src="./images/logo-ice/ice.png" width="100%" height="100%" alt="Морозивко" />
        </picture>
      </div>
      <div class="header__container-items">
        <nav class="header__unordered">
          <ul class="list header__nav">
            <li class="header__list"><a href="#home" class="link header__link">Home</a></li>
            <li class="header__list"><a href="#about" class="link header__link">How it’s made?</a></li>
            <li class="header__list"><a href="#products" class="link header__link">Our products</a></li>
            <li class="header__list"><a href="#contacts" class="link header__link">Contact</a></li>
          </ul>
        </nav>
        <div class="header__button-container">
          <button type="button" class="header__button-burger" data-menu-open>
            <svg class="header__ico-burger">
              <use href="./images/icons.svg#icon-burger">
              </use>
            </svg>
          </button>
          <button type="button" class="header__button-buy" modal-buynow-open>Buy now
            <svg class="header__ico-bold">
              <use href="./images/icons.svg#icon-right-bold">
              </use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <section class="hero header__hero">
      <div class="hero__title-container">
        <h1 class="hero__title">ice cream
          made with
          <span>passion</span>
        </h1>
      </div>
      <div class="group">
        <picture>
          <source srcset="./images/dots/comp-1x.png 1x, ./images/dots/comp-2x.png 2x" media="(min-width: 1200px)">
          <source srcset="./images/dots/tab-1x.png 1x, ./images/dots/tab-2x.png 2x" media="(min-width: 768px)">
          <source srcset="./images/dots/mob480-1x.png 1x, ./images/dots/mob480-2x.png 2x" media="(min-width: 480px)">
          <source srcset="./images/dots/mob320-1x.png 1x, ./images/dots/mob320-2x.png 2x" media="(max-width: 479.33px)">
          <img src="./images/dots/dots.png" width="100%" height="100%" alt="Морозивко" />
        </picture>
      </div>
      <div class="ice-cream">
        <picture>
          <source srcset="./images/hero-ice/comp-1x.png 1x, ./images/hero-ice/comp-2x.png 2x"
            media="(min-width: 1200px)">
          <source srcset="./images/hero-ice/tab-1x.png 1x, ./images/hero-ice/tab-2x.png 2x" media="(min-width: 768px)">
          <source srcset="./images/hero-ice/mob480-1x.png 1x, ./images/hero-ice/mob480-2x.png 2x"
            media="(min-width: 480px)">
          <source srcset="./images/hero-ice/mob320-1x.png 1x, ./images/hero-ice/mob320-2x.png 2x"
            media="(max-width: 479.33px)">
          <img src="./images/hero-ice/ice.png" width="100%" height="100%" alt="Морозивко" />
        </picture>
      </div>
      <div class="many-ice">
        <picture>
          <source srcset="./images/many-ice/comp-1x.png 1x, ./images/many-ice/comp-2x.png 2x"
            media="(min-width: 1200px)">
          <source srcset="./images/many-ice/tab-1x.png 1x, ./images/many-ice/tab-2x.png 2x" media="(min-width: 768px)">
          <img src="./images/many-ice/many-ice.png" width="100%" height="100%" alt="Морозивко" />
        </picture>
        <div class="many-ice__box">
          <p class="many-ice__text">You might think that's a lot of ice cream, but we have even more. More
            delicious ice cream</p>
          <svg class="many-ice__arrow">
            <use href="./images/icons.svg#icon-arrow-hero">
            </use>
          </svg>
        </div>
      </div>
      <div class="hero__button-container">
        <a modal-product-open href="#products" class="link button-prod__link">Products</a>
        <a href="#about" class="button-made__link">How it’s made?</a>
      </div>
      <div class="chain">
        <p class="chain__top">16</p>
        <p class="chain__bottom">cafes</p>
        <p class="chain__top">23</p>
        <p class="chain__bottom">food trucks</p>
      </div>
    </section>
  </div>
</header>
<div class="mobile-menu is-hidden" data-menu>
  <div class="mobile-menu__hat">
    <div class="header__logo-ice">
      <picture>
        <source srcset="./images/logo-ice/tab-1x.png 1x, ./images/logo-ice/tab-2x.png 2x" media="(min-width: 768px)">
        <source srcset="./images/logo-ice/mob480-1x.png 1x, ./images/logo-ice/mob480-2x.png 2x"
          media="(min-width: 480px)">
        <source srcset="./images/logo-ice/mob320-1x.png 1x, ./images/logo-ice/mob320-2x.png 2x"
          media="(max-width: 479.33px)">
        <img src="./images/logo-ice/ice.png" width="100%" height="100%" alt="Морозивко" />
      </picture>
    </div>
    <button type="button" class="mobile-menu__close" data-menu-close>
      <svg class="header__ico-burger">
        <use href="./images/icons.svg#icon-close">
        </use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu__nav">
    <button type="button" data-menu-close1 class="mobile-menu__btn"><a href="#home"
        class="link mobile-menu__link">Home</a></button>
    <button type="button" data-menu-close2 class="mobile-menu__btn"><a href="#about" class="link mobile-menu__link">How
        it’s
        made?</a></button>
    <button type="button" data-menu-close3 class="mobile-menu__btn"><a href="#products"
        class="link mobile-menu__link">Our
        products</a></button>
    <button type="button" data-menu-close4 class="mobile-menu__btn"><a href="#contacts"
        class="link mobile-menu__link">Contact</a></button>
    <button type="button" class="mobile-menu__buy" data-menu-close5 modal-buynow-open>Buy now
      <svg class="header__ico-bold">
        <use href="./images/icons.svg#icon-right-bold">
        </use>
      </svg>
    </button>
  </div>
</div>