<div class="backdrop is-hidden" modal-milkshake>
  <div class="modal-product">
    <button class="button-close" modal-milkshake-close>
      <svg class="button-close__icon" widht="11" height="11">
        <use href="./images/icons.svg#icon-close-icon"></use>
      </svg>
    </button>
    <p class="modal-product__tittle">Milkshake</p>
    <form>
      <div class="modal-product-img">
        <img class="modal-product-img__background" src="./images/milkshake-model-icon.png" alt="" />
      </div>
      <ul class="product-nutrients list">
        <li class="product-nutrients__items">
          <div class="product-nutrients__border border-pistachio">
            <div class="product-nutrients__circle background-pistachio">
              <p class="product-nutrients__number">380</p>
            </div>
            <p class="product-nutrients__text">kalc</p>
          </div>
        </li>
        <li class="product-nutrients__items">
          <div class="product-nutrients__border border-pistachio">
            <div class="product-nutrients__circle background-pistachio">
              <p class="product-nutrients__number">8g</p>
            </div>
            <p class="product-nutrients__text">Protein...</p>
          </div>
        </li>
        <li class="product-nutrients__items">
          <div class="product-nutrients__border border-pistachio">
            <div class="product-nutrients__circle background-pistachio">
              <p class="product-nutrients__number">9,5g</p>
            </div>
            <p class="product-nutrients__text">Fats</p>
          </div>
        </li>
        <li class="product-nutrients__items">
          <div class="product-nutrients__border border-pistachio">
            <div class="product-nutrients__circle background-pistachio">
              <p class="product-nutrients__number">35,4g</p>
            </div>
            <p class="product-nutrients__text">Carbs</p>
          </div>
        </li>
      </ul>
      <h2 class="modal-ingrediant">Ingredients</h2>
      <div class="ingredients-wrapper">
        <ul class="ingredients list">
          <li class="ingredients__items">Milk</li>
          <li class="ingredients__items">Chocolate</li>
          <li class="ingredients__items">Water</li>
          <li class="ingredients__items">Cream</li>
          <li class="ingredients__items">Sugar</li>
          <li class="ingredients__items">Vanilla sugar</li>
        </ul>
        <ul class="ingredients ingredients-right list">
          <li class="ingredients__items">100ml</li>
          <li class="ingredients__items">25ml</li>
          <li class="ingredients__items">20g</li>
          <li class="ingredients__items">150ml</li>
          <li class="ingredients__items">40g</li>
          <li class="ingredients__items">10g</li>
        </ul>
      </div>
      <div class="form-group">
        <input type="text" class="modal-input" name="name" id="name" placeholder="Name" />
      </div>

      <div class="form-group">
        <input type="tel" class="modal-input" name="tell" id="tell" placeholder="Phone" />
      </div>

      <div class="form-group-text">
        <textarea name="comment" id="comment" class="modal-text" placeholder="..."></textarea>
      </div>

      <button type="submit" class="modal-button">Submit</button>
    </form>
  </div>
</div>