<div class="backdrop is-hidden" modal-ice-creame>
  <div class="modal-product">
    <button class="button-close" modal-ice-creame-close>
      <svg class="button-close__icon" widht="11" height="11">
        <use href="./images/icons.svg#icon-close-icon"></use>
      </svg>
    </button>
    <h1 class="modal-product__tittle">Chololate icecream</h1>
    <form>
      <div class="modal-product-img">
        <img
          class="modal-product-img__background"
          src="./images/ice-creame-modal-icon.png"
          alt=""
        />
      </div>
      <ul class="product-nutrients list">
        <li class="product-nutrients__items">
          <div class="product-nutrients__border">
            <div class="product-nutrients__circle">
              <p class="product-nutrients__number">320</p>
            </div>
            <p class="product-nutrients__text">kalc</p>
          </div>
        </li>
        <li class="product-nutrients__items">
          <div class="product-nutrients__border">
            <div class="product-nutrients__circle">
              <p class="product-nutrients__number">4g</p>
            </div>
            <p class="product-nutrients__text">Protein...</p>
          </div>
        </li>
        <li class="product-nutrients__items">
          <div class="product-nutrients__border">
            <div class="product-nutrients__circle">
              <p class="product-nutrients__number">8,2g</p>
            </div>
            <p class="product-nutrients__text">Fats</p>
          </div>
        </li>
        <li class="product-nutrients__items">
          <div class="product-nutrients__border">
            <div class="product-nutrients__circle">
              <p class="product-nutrients__number">40,4g</p>
            </div>
            <p class="product-nutrients__text">Carbs</p>
          </div>
        </li>
      </ul>
      <h2 class="modal-ingrediant">Ingredients</h2>
      <div class="ingredients-wrapper">
        <ul class="ingredients list">
          <li class="ingredients__items">Milk</li>
          <li class="ingredients__items">Belgian chocolate</li>
          <li class="ingredients__items">Cream</li>
          <li class="ingredients__items">Cocoa powder</li>
          <li class="ingredients__items">Sugar</li>
          <li class="ingredients__items">Vanilla sugar</li>
        </ul>
        <ul class="ingredients ingredients-right list">
          <li class="ingredients__items">100ml</li>
          <li class="ingredients__items">20g</li>
          <li class="ingredients__items">150 ml</li>
          <li class="ingredients__items">30g</li>
          <li class="ingredients__items">40g</li>
          <li class="ingredients__items">10g</li>
        </ul>
      </div>
      <div class="form-group">
        <div class="wrapper">
          <input
            type="text"
            class="modal-input"
            name="name"
            id="name"
            placeholder="Name"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="wrapper">
          <input
            type="tel"
            class="modal-input"
            name="tell"
            id="tell"
            placeholder="Phone"
          />
        </div>
      </div>

      <div class="form-group-text">
        <textarea
          name="comment"
          id="comment"
          class="modal-text"
          placeholder="..."
        ></textarea>
      </div>

      <button type="submit" class="modal-button">Submit</button>
    </form>
  </div>
</div>
