<section id="products" class="section section-products">
  <div class="container-products">
    <p class="products__label">100% natural</p>
    <h2 class="container-products__title">products</h2>
    <ul class="list products__list">
      <li class="products__item item__cream">
        <h3 class="products-item__title">ice cream</h3>

        <p class="products-item__description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          class="products-item__button"
          type="button"
          modal-product-open
          aria-label="Arrow"
        >
          <svg class="button__icon" height="16" width="40">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>

      <li class="products__item item__coffee">
        <h3 class="products-item__title">ice coffee</h3>

        <p class="products-item__description">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          class="products-item__button"
          type="button"
          data-modal-open
          aria-label="Arrow"
        >
          <svg class="button__icon" height="16" width="40">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>

      <li class="products__item item__milkshakes">
        <h3 class="products-item__title">milkshakes</h3>

        <p class="products-item__description">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          data-modal-open
          class="products-item__button"
          type="button"
          aria-label="Arrow"
        >
          <svg class="button__icon" height="16" width="40">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
