<section class="review">
    <div class="container">
        <div class="review__wallpapers">
            <div class="review__wallpaper-1">
                <img src="./images/icecream-1.jpg" alt="">
            </div>
            <div class="review__wallpaper-2">
                <img src="./images/icecream-2.jpg" alt="">
            </div>
            <div class="review__wallpaper-3">
                <img src="./images/icecream-3.jpg" alt="">
            </div>
        </div>
    </div>
</section>