<section class="review">
    <div class="container">
        <div class="review__wallpapers">
            <div class="review__wallpaper-1">
                <picture>
                    <source srcset="./images/icecream-1.jpg" media="(min-width: 1200px)">
                    <source srcset="./images/icecream-1-768.jpg" media="(min-width: 768px)">
                    <source srcset="./images/icecream-1-480.jpg" media="(min-width: 480px)">
                    <img src="./images/icecream-1-320.jpg" alt="">
                </picture>
            </div>


            <div class="review__wallpaper-2">
                <picture>
                    <source srcset="./images/icecream-2.jpg" media="(min-width: 1200px)">
                    <source srcset="./images/icecream-2-768.jpg" media="(min-width: 768px)">
                    <source srcset="./images/icecream-2-480.jpg" media="(min-width: 480px)">
                    <img src="./images/icecream-2-320.jpg" alt="">
                </picture>
            </div>


            <div class="review__wallpaper-3">
                <picture>
                    <source srcset="./images/icecream-3.jpg" media="(min-width: 1200px)">
                    <source srcset="./images/icecream-3-768.jpg" media="(min-width: 768px)">
                    <source srcset="./images/icecream-3-480.jpg" media="(min-width: 480px)">
                    <img src="./images/icecream-3-320.jpg" alt="">
                </picture>
            </div>
        </div>
    </div>
</section>